.container {
  font-size: 1rem;
}

.header {
  background-image: url(../images/backgrounds/Rectangle.png);
  background-size: 100% 100%;
  height: 78vh;
}

.header__title {
  display: flex;
  justify-content: space-between;
}

.header__styles {
  font-size: 2.8rem;
  font-weight: 700;
  color: rgb(255, 0, 0);
}

.header__text {
  margin: 2% 3%;
  font-family: "Overpass", sans-serif;
}

.header__text--special {
  width: 45%;
  font-size: 3.2rem;
  margin-top: 12%;
  font-weight: 700;
}

.color-gray {
  color: rgb(222, 215, 215);
}

.color-white {
  color: white;
}

.input__title {
  display: flex;
}

.input {
  width: 13%;
  font-size: 0.8rem;
  padding: 0.4%;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input--special {
  background: #ff0d00;
  border: 0.4px solid black;
}

.input--primary {
  background: rgb(0, 0, 0, 0.1);
  border: 0.4px solid white;
}

.font {
  font-size: 1.8rem;
}

.input__name {
  font-size: 1.3rem;
  font-weight: 700;
}

.input__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Phone */
.phone__item--special {
  position: absolute;
  right: 100px;
  bottom: 20px;
}

.phone__item--primary {
  position: absolute;
  right: 125px;
  bottom: 145px;
}

.phone__picture {
  width: 60%;
}
/* Phone */
.main {
  margin-top: 45px;
}

.cards__wrapper {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  background: 0, 0, 0, 0.5;
}

.cards__item {
  width: 205px;
  border-radius: 20px;
  position: relative;
}

.photo {
  width: 205px;
  border-radius: 20px;
}


.dark-layer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  width: 100%;
  height: 98%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  transition: 200ms;
}

.dark-layer:hover {
  opacity: 0;
  transition: 200ms;
}


.title {
  color: rgb(225, 221, 221);
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  opacity: 0.8;
}

hr {
  margin-top: 35px;
  width: 784px;
  border: 1px solid #E4E4E4;
}

.instruction {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

.instruction__title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.instruction__phone {
  /* position: relative;
  left: 95px;
  bottom: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction__phone--special {
  /* position: relative;
  right: 110px;
  bottom: 150px; */
}

.login-1 {
  width: 420px;
}

.instruction__info {
  /* right: 110px; */
}


.instruction__info--style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.instruction__info--special {
  /* right: 110px;
  bottom: 200px; */
}

.instruction__phone--primary {
  /* position: relative;
  left: 95px;
  bottom: 370px; */
  display: flex;
  justify-content: center;
}



.instruction__reg {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #FF0000;
  font-size: 1.1rem;
  font-weight: bold;
  width: 70%;
}

.instruction__log-out {
  width: 70%;
  line-height: 33px;
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.instruction__reg-out {
  margin-top: 20px;
  width: 70%;
  font-size: 1.1rem;
  line-height: 25px;
  color: #737373;
}